.job h2{
   font-style: oblique;
    text-align: center;
    padding-bottom: 2rem; 
}

/* ===== mono text ===== */
.bloc_text{
    margin: 2rem auto;
    padding: 0 1rem;
    max-width: 70rem;
}

.bloc_text h3{
    
    text-decoration: underline;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid black;

}

.custom_list li{
    list-style-position: outside;
    margin-left: 3rem;
    padding-bottom: 0.5rem;
}


/* ===== multi texts ===== */

.bloc_text1{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bloc_text1 p{
    flex: 1;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

.bloc_text1 img,
.bloc_text2 img{
    max-width: 100%;
    height: auto;
    display: block;
}
.bloc_text2{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row-reverse;
}

.bloc_text2 p{
    flex: 1;
    font-size: 1.5rem;
}

@media (max-width: 768px){
    .bloc_text1,
    .bloc_text2{
        flex-direction: column;
        align-items: stretch;
    }

    .bloc_text1 img,
    .bloc_text2 img{
        width: 100%;
        max-width: none;
    }

    .bloc_text1 p,
    .bloc_text2 p{
        font-size: 1.1rem;
    }

    .custom_list li{
        margin-left: 1.25rem;
    }
}