.teach_helper h2{
    text-align: center;
    padding-bottom: 2rem;
}

.bloc_text1{
    margin: 2rem 20.5rem ;
    font-size: 1.5rem;
}

.bloc_text1 p{
    padding-top: 0.5rem;
}

.custom_list li{
    list-style-position: outside;
    margin-left: 3rem;
    padding-bottom: 0.5rem;
}