.telecom_service_desk h2{
    font-style: oblique;
    text-align: center;
    padding-bottom: 2rem;
}

.bloc_text{
    margin: 2rem 20.5rem ;
    
}

.bloc_text h3{
    
    text-decoration: underline;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 2px solid black;

}