/* ===== GLOBAL ===== */
body, footer{
    background-color: beige;
    margin: 0; /*voir si vraiment utile  - doublon avec le reset ?*/
    font-size: 1rem;
}
/* ===== HEADER ===== */

header{
    text-align: center;
    margin-bottom: 2rem;
}

header h1{
    background-color: rgb(230, 142, 11);
    display: inline-block;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    
}

/* ===== FOOTER ===== */

.container-footer{
    text-align: center;
    padding: 1rem;
}