header{
    text-align: center;
    margin-bottom: 2rem;
}

header h1{
    background-color: rgb(230, 142, 11);
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    
}

body, footer{
    background-color: beige;
}

.container-footer{
    text-align: center;

}