/* ===== BOUTONS ===== */
.container-btn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
}

button{
    flex: 1 1 calc(50% - 0.5rem);
    text-transform: capitalize;
    font-weight: bold;
    background-color: rgb(224, 170, 89);
    padding: 0.5rem 1rem;
    border: none;
    min-height: 5.5rem;
}

/* ===== IMAGE ===== */
.container-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}

img{
    height: auto;
    max-width: 100%;
    border-radius: 25%;
    margin-top: 2rem;
}

/* === TABLETTE — ÉCRANS ≥ 768px === */
@media (min-width: 768px) {
    .container-btn {
        justify-content: center;
        gap: 1rem;
    }

    button {
        flex: 1 1 calc(25% - 1rem);
        font-size: 1.8rem;
    }

    img {
        max-width: 60%;
    }
}

/* === DESKTOP — ÉCRANS ≥ 1024px === */
@media (min-width: 1024px) {
    .container-btn {
        justify-content: space-around;
        max-width: 900px;
        margin: 0 auto;
    }

    button {
        flex: 0 0 12rem;
        font-size: 1.1rem;
    }

    .container-image {
        max-width: 900px;
        margin: 0 auto;
    }

    img {
        max-width: 50%;
    }
}