.container-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

button{
    width: 12rem;
    text-transform: capitalize;
    font-weight: bold;
    background-color: rgb(224, 170, 89);
}
.container-image{
    display: flex;
    justify-content: center;
    align-items: center; 
}

img{
    height: 20rem;
    border-radius: 25%;
    margin-top: 2rem;
}

