.container-spares_time{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 1rem;
}

.container-spare_time{
    box-sizing: border-box;
    flex: 1 1 19rem;
    max-width: 19rem;  
    border: 2px solid black;
}

.container-spare_time h2{
    text-align: center;
    text-shadow:
    -1px -1px 0 black;
    color:  rgb(230, 142, 11);
}

.container-spare_time dt{
    margin-left: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: underline;
}

.container-spare_time dd{
    margin-bottom: 1rem;
}

@media (max-width: 768px){
    .container-spare_time{
        max-width: 100%;
        flex-basis: 100%;
    }

    .container-spare_time dt{
        margin-left: 1rem;
    }

}