
header{
    text-align: center;
    margin-bottom: 2rem;
}

header h1{
    background-color: rgb(230, 142, 11);
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    
}

body, footer{
    background-color: beige;
}
.container-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

button{
    width: 12rem;
    text-transform: capitalize;
    font-weight: bold;
    background-color: rgb(224, 170, 89);
}
.container-image{
    display: flex;
    justify-content: center;
    align-items: center; 
}

img{
    height: 20rem;
    border-radius: 25%;
    margin-top: 2rem;
}

.container-footer{
    text-align: center;

}